body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: skyblue;
}

#wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: row;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 110px;
  margin: 20px;
}
.title {
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
}
.artimg {
  border: 1px black solid;
}